target/
.idea
*.iml
/sushibar-backend-kafka/src/main/resources/config/application.properties
*.txt

/sushibar-backend-avro/generated-sources/
/sushibar-backend-app/src/main/resources/application-local.yml
